USE [master]
GO
/****** Object:  Database [Localization]    Script Date: 18/01/2026 11:30:21 ******/
CREATE DATABASE [Localization]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Localization', FILENAME = N'D:\Installed Applications\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Localization.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Localization_log', FILENAME = N'D:\Installed Applications\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Localization_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Localization].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Localization]
GO
/****** Object:  Table [dbo].[App_Language]    Script Date: 18/01/2026 11:30:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[App_Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Culture] [nvarchar](20) NOT NULL,
	[CultureNormalized]  AS (lower(ltrim(rtrim([Culture])))) PERSISTED,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_App_Language_IsActive]  DEFAULT ((1)),
	[CreatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_App_Language_CreatedAt]  DEFAULT (sysutcdatetime()),
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_App_Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[App_LanguageResource]    Script Date: 18/01/2026 11:30:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[App_LanguageResource](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LanguageId] [int] NOT NULL,
	[ResourceKey] [nvarchar](200) NOT NULL,
	[ResourceKeyNormalized]  AS (lower(ltrim(rtrim([ResourceKey])))) PERSISTED,
	[Value] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_App_LanguageResource_IsActive]  DEFAULT ((1)),
	[CreatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_App_LanguageResource_CreatedAt]  DEFAULT (sysutcdatetime()),
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_App_LanguageResource] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[App_LocalizationVersion]    Script Date: 18/01/2026 11:30:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_LocalizationVersion](
	[Id] [int] NOT NULL,
	[VersionNumber] [bigint] NOT NULL CONSTRAINT [DF_App_LocalizationVersion_Version]  DEFAULT ((1)),
	[UpdatedAt] [datetime2](0) NOT NULL CONSTRAINT [DF_App_LocalizationVersion_UpdatedAt]  DEFAULT (sysutcdatetime()),
 CONSTRAINT [PK_App_LocalizationVersion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[App_Language] ON 

INSERT [dbo].[App_Language] ([Id], [Name], [Culture], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'English', N'en-US', 1, CAST(N'2026-01-17 22:07:05.0000000' AS DateTime2), N'seed', NULL, NULL)
INSERT [dbo].[App_Language] ([Id], [Name], [Culture], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Arabic (Kuwait)', N'ar-KW', 1, CAST(N'2026-01-17 22:07:05.0000000' AS DateTime2), N'seed', NULL, NULL)
INSERT [dbo].[App_Language] ([Id], [Name], [Culture], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Urdu', N'ur', 1, CAST(N'2026-01-17 22:07:05.0000000' AS DateTime2), N'seed', NULL, NULL)
SET IDENTITY_INSERT [dbo].[App_Language] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[App_LanguageResource] ON 

INSERT [dbo].[App_LanguageResource] ([Id], [LanguageId], [ResourceKey], [Value], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'App.Title', N'DB-Driven Localization', 1, CAST(N'2026-01-18 02:52:24.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[App_LanguageResource] ([Id], [LanguageId], [ResourceKey], [Value], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 1, N'Nav.Home', N'Home', 1, CAST(N'2026-01-18 02:52:24.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[App_LanguageResource] ([Id], [LanguageId], [ResourceKey], [Value], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 1, N'Nav.Privacy', N'Privacy', 1, CAST(N'2026-01-18 02:52:24.0000000' AS DateTime2), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[App_LanguageResource] OFF
SET ANSI_PADDING OFF
INSERT [dbo].[App_LocalizationVersion] ([Id], [VersionNumber], [UpdatedAt]) VALUES (1, 263, CAST(N'2026-01-18 05:52:02.0000000' AS DateTime2))
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [UX_App_Language_CultureNormalized]    Script Date: 18/01/2026 11:30:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_App_Language_CultureNormalized] ON [dbo].[App_Language]
(
	[CultureNormalized] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_App_LanguageResource_LanguageId_IsActive]    Script Date: 18/01/2026 11:30:22 ******/
CREATE NONCLUSTERED INDEX [IX_App_LanguageResource_LanguageId_IsActive] ON [dbo].[App_LanguageResource]
(
	[LanguageId] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [UX_App_LanguageResource_Language_Key]    Script Date: 18/01/2026 11:30:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_App_LanguageResource_Language_Key] ON [dbo].[App_LanguageResource]
(
	[LanguageId] ASC,
	[ResourceKeyNormalized] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[App_LanguageResource]  WITH CHECK ADD  CONSTRAINT [FK_App_LanguageResource_Language] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[App_Language] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[App_LanguageResource] CHECK CONSTRAINT [FK_App_LanguageResource_Language]
GO
ALTER TABLE [dbo].[App_LocalizationVersion]  WITH CHECK ADD  CONSTRAINT [CK_App_LocalizationVersion_Id] CHECK  (([Id]=(1)))
GO
ALTER TABLE [dbo].[App_LocalizationVersion] CHECK CONSTRAINT [CK_App_LocalizationVersion_Id]
GO
/****** Object:  StoredProcedure [dbo].[App_Localization_BumpVersion]    Script Date: 18/01/2026 11:30:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[App_Localization_BumpVersion]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.App_LocalizationVersion
    SET VersionNumber = VersionNumber + 1,
        UpdatedAt = SYSUTCDATETIME()
    WHERE Id = 1;
END

GO
USE [master]
GO
